body{
    height: 100vh;
    border: solid black 4px;
}

.wall{
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}

#player{
    width: 80px;
    height: 80px;
    background-color: grey;
    position: absolute;
    z-index: 3;
}

#sword{
    width: 10px;
    height: 30px;
    background-color: blue;
    position: absolute;
    visibility: hidden;
}